* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

header {
	margin-top: 25px;
	display: flex;
	justify-content: space-around;
}

.logo img {
	width: 70px;
	height: 70px;
}

.nav-links {
	list-style-type: none;
	display: flex;
	justify-content: end;
    margin-top: 11px;
}

.nav-link {
	font-size: 20px;
	margin-left: 25px;
}

.nav-link a {
	color: #343A40;
	font-weight: 500;
	text-decoration: none;
	transition: 0.5s;
}

.nav-link a:hover {
	color: #8338ec;
	transition: 0.5s;
}

footer {
    height: 75px;
    background-color: black;
    align-items: center;
}

#contacts{
    text-align: center;
    height: 500px;
    margin-top: 250px;
}
.fab {
    margin-top: 10px;
    font-size: 50px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

@media only screen and (max-width:600px) {
footer {
    height: auto;
    width: auto;
}
.fab {
    width: 50%;
}
}