* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

header {
	margin-top: 25px;
	display: flex;
	justify-content: space-around;
}

.logo img {
	width: 70px;
	height: 70px;
}

.nav-links {
	list-style-type: none;
	display: flex;
	justify-content: end;
    margin-top: 11px;
}

.nav-link {
	font-size: 20px;
	margin-left: 25px;
}

.nav-link a {
	color: #343A40;
	font-weight: 500;
	text-decoration: none;
	transition: 0.5s;
}

.nav-link a:hover {
	color: #8338ec;
	transition: 0.5s;
}

footer {
	height: 75px;
	background-color: #212529;
}
